{% extends 'base.html.twig' %}

{% block body %}


<meta name="viewport" content="width=device-width, initial-scale=1">

<blockquote>

    <h1>{{'home.title'|trans}}</h1>


</br>

<div class="content"> {{'home.open'|trans}}</br></br>
{{'home.closed'|trans}}<br></br>
{{ 'home.free'|trans}}</br></br>
<strong>{{'home.pricing'|trans}}</strong> </br>
{{ 'home.baby'|trans ({'%baby%': ages.baby}) }} </br>
{{ 'home.unemployed'|trans }}</br>
{{ 'home.child' |trans ({'%baby%' :ages.baby , '%beforeTeen%' : ages.teen - 1 , '%priceChild%':prices.priceChild })}} </br>
{{ 'home.adult'|trans ({'%beforeTeen%' :ages.teen - 1 , '%senior%' : ages.senior , '%priceAdult%':prices.priceAdult})}}</br>
{{ 'home.senior'|trans ({'%senior%':ages.senior,  '%priceSenior%': prices.priceSenior})}}</br></br>
{{'home.reduce.pricing'|trans ({'%priceReduced%': prices.priceReduced}) }}</br>
{{'home.reduce.benefit'|trans}}</br>
{{'home.reduce.condition'|trans }}</br>

</br>{{'home.afternoon'|trans}} </br>


</blockquote>

<br/>
<br/>
{% endblock %}
