{% extends 'base.html.twig' %}

{% block body %}
<blockquote>
    <h3>{{'orderRecap.title'|trans}}</h3>

    <table class="pure-table pure-table-bordered">
    <thead>
            <tr>
                <th>{{'orderRecap.date'|trans}}</th>
                <th>{{'orderRecap.firstname'|trans}}</th>
                <th>{{'orderRecap.name'|trans}}/th>
                <th>{{'orderRecap.birthDate'|trans }}</th>
                <th>{{'orderRecap.price'|trans}} (€)</th>
            </tr>
      </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.dateOfVisit | date('d-m-Y') }}</td>
                <td>{{ ticket.visitor.firstName }}</td>
                <td>{{ ticket.visitor.name }}</td>
                <td>{{ ticket.visitor.birthDate | date('d-m-Y') }}</td>
                <td>{{ ticket.price }} € </td>
            </tr>
        {%  endfor %}

        <td></td>
        <td></td>
        <td></td>
        <td><strong>{{'orderRecap.amount'|trans}}</strong></td>
        <td>{{ total }} € </td>
        </tbody>
      </table>
      <br/>
      <br/>


    </blockquote>
    <br/>
    <br/>

{% endblock %}
