{% extends 'base.html.twig' %}

{% block body %}

  <blockquote>
    <h3><span>Commander des billets d'entrée au musée</h3>

    {{ form_start(orderForm)  }}
          {{ form_widget(orderForm) }}
          <br/>
          <button type="submit" class = "pure-button">Ajouter un visiteur</button>

          {{ form_end(orderForm) }}
          <br/>
          <div>
              {{ message1 }}
              {{ message2 }}
          </div>
  </blockquote>
  <br/>
  <br/>
{% endblock %}
