{% extends 'base.html.twig' %}

{% block body %}
<blockquote>
    <h3>{{'orderRecap.title' |trans}}</h3>

    <table class="pure-table pure-table-bordered">
    <thead>
            <tr>
                <th>{{'orderRecap.date'|trans}}</th>
                <th>{{'orderRecap.firstname'|trans}}</th>
                <th>{{'orderRecap.name'|trans}}</th>
                <th>{{'orderRecap.birthDate'|trans}}</th>
                <th>{{'orderRecap.price'|trans}} (€)</th>
                <th>{{'orderRecap.cancelation'|trans}}</th>
            </tr>
      </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.dateOfVisit | date('d-m-Y') }}</td>
                <td>{{ ticket.visitor.firstName }}</td>
                <td>{{ ticket.visitor.name }}</td>
                <td>{{ ticket.visitor.birthDate | date('d-m-Y') }}</td>
                <td>{{ ticket.price }} € </td>
                <td> <a href="{{ path('deleteVisitor',
                     {'firstName' : ticket.visitor.firstName , 'lastName' : ticket.visitor.name })  }}"
                     class="pure-button">{{'orderRecap.cancel'|trans}}</a>
                </td>
            </tr>
        {%  endfor %}

        <td></td>
        <td></td>
        <td></td>
        <td><strong>{{'orderRecap.amount'|trans}}</strong></td>
        <td>{{ total }} € </td>
        <td></td>
        </tbody>
      </table>
      <br/>
      <br/>
    {{ form_start(recapAndPayForm)  }}
    {{ form_widget(recapAndPayForm) }}

    <br/>
    <a href="{{ path('visitor')  }}" class="pure-button">{{'orderRecap.addVisitor'|trans}}</a>
    <button type="submit" class ="pure-button">{{'orderRecap.confirm'|trans}}</button>

    <form action="" method="POST">

    <style>
      .stripe-button-el { display: none }
    </style>

    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_TLe3EYdNdUBIicMKOH6rxX3f"
      data-amount= {{total * 100}}
      data-currency="EUR"
      data-name="Musée du Louvre"
      data-description="Réservation tickets"
      data-label={{ "Payer" | trans}}
      data-zip-code="false"
      data-locale="auto">
    </script>


    </form>

    {{ form_end(recapAndPayForm) }}

    </blockquote>
    <br/>
    <br/>

{% endblock %}
