{% extends 'base.html.twig' %}

{% block body %}
<blockquote>
    <h3>Votre commande</h3>

    <table class="pure-table pure-table-bordered">
    <thead>
            <tr>
                <th>Date de la visite</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Prix (€)</th>
                <th>Annulation</th>
            </tr>
      </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.dateOfVisit | date('d-m-Y') }}</td>
                <td>{{ ticket.visitor.firstName }}</td>
                <td>{{ ticket.visitor.name }}</td>
                <td>{{ ticket.visitor.birthDate | date('d-m-Y') }}</td>
                <td>{{ ticket.price }} € </td>
                <td> <a href="{{ path('deleteVisitor',
                     {'firstName' : ticket.visitor.firstName , 'lastName' : ticket.visitor.name })  }}"
                     class="pure-button">Annuler</a>
                </td>
            </tr>
        {%  endfor %}

        <td></td>
        <td></td>
        <td></td>
        <td><strong>TOTAL</strong></td>
        <td>{{ total }} € </td>
        <td></td>
        </tbody>
      </table>
      <br/>
      <br/>
    {{ form_start(recapAndPayForm)  }}
    {{ form_widget(recapAndPayForm) }}

    <br/>
    <a href="{{ path('visitor')  }}" class="pure-button">Ajouter un visiteur</a>
    <button type="submit" class ="pure-button">Confirmer la commande</button>

    <form action="" method="POST">

    <style>
      .stripe-button-el { display: none }
    </style>

    <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_TLe3EYdNdUBIicMKOH6rxX3f"
    data-amount= {{total * 100}}
    data-currency="EUR"
    data-name="Musée du Louvre"
    data-description="Réservation tickets"
    data-label={{ "Payer" | trans}}
    data-zip-code="false"
    data-locale="auto">
    </script>


    </form>

    <!--
    <a href="{{ path('finalizeOrder')  }}" class="pure-button">Payer</a>
    -->

    {{ form_end(recapAndPayForm) }}

    </blockquote>
    <br/>
    <br/>

{% endblock %}
