{% extends 'base.html.twig' %}

{% block body %}

    <h3>Votre commande</h3>


    <div>
        {% for ticket in tickets %}
            <tr>
                <td> Billet(s) pour :</td>
                <td>Date = {{ ticket.dateOfVisit | date('d-m-Y') }}</td>
                <td>Prénom = {{ ticket.visitor.firstName }}</td>
                <td>Nom = {{ ticket.visitor.name }}</td>
                <td>Date de naissance = {{ ticket.visitor.birthDate | date('d-m-Y') }}</td>
                <td>Prix = {{ ticket.price }}</td>
                <a href="{{ path('deleteVisitor', {'firstName' : ticket.visitor.firstName , 'lastName' : ticket.visitor.name })  }}" class="pure-button">Retirer ce visiteur de la liste </a>
                <br/><br/>
            </tr>
        {%  endfor %}
    </div>

    {{ form_start(recapAndPayForm)  }}
    {{ form_widget(recapAndPayForm) }}

    <br/>

    <button type="submit" class ="pure-button">Confirmer</button>

    <a href="{{ path('visitor')  }}" class="pure-button">Ajouter un visiteur</a>
    <a href="{{ path('finalizeOrder')  }}" class="pure-button">Payer</a>

    {{ form_end(recapAndPayForm) }}

    <br/>
    <br/>

{% endblock %}
