{% extends 'base.html.twig' %}

{% block body %}
<blockquote>
    <h3><span>Informations sur le visiteur</h3>

    {{ form_start(visitorForm ) }}

    {{ form_errors(visitorForm) }}



    {{ form_widget(visitorForm) }}
    <br/>

    <button type="submit" class ="pure-button">Confirmer</button>

    <a href="{{ path('visitor') }}" class="pure-button">Ajouter un autre visiteur </a>
    <a href="{{ path('recapTickets') }}" class="pure-button">Payer </a>


    {{ form_end(visitorForm) }}

    </blockquote>

    <br/>
    <br/>
{% endblock %}
