{% extends 'base.html.twig' %}

{% block body %}
<blockquote>
    <h3><span>{{'visitor.title'|trans}}</h3>

    {{ form_start(visitorForm ) }}

    {{ form_errors(visitorForm) }}



    {{ form_widget(visitorForm) }}
    <br/>

    <button type="submit" class ="pure-button">{{'visitor.confirm'|trans}}</button>

    <a href="{{ path('visitor') }}" class="pure-button">{{'visitor.addNew'|trans}} </a>
    <a href="{{ path('recapTickets') }}" class="pure-button">{{'visitor.pay'|trans}} </a>


    {{ form_end(visitorForm) }}

    </blockquote>

    <br/>
    <br/>
{% endblock %}
